@font-face{
    font-family: 'aleo';
    src: url('../fonts/Aleo.ttf');
}
@font-face{
    font-family: 'barlow';
    src: url('../fonts/Barlow.ttf');
}
@font-face{
    font-family: 'catamaran';
    src: url('../fonts/Catamaran-Regular.ttf');
}
@font-face{
    font-family: 'didactGothic';
    src: url('../fonts/DidactGothic-Regular.ttf');
}
@font-face{
    font-family: 'heebo';
    src: url('../fonts/Heebo-Regular.ttf');
}
@font-face{
    font-family: 'MPlusRounded';
    src: url('../fonts/MPLUSRounded1c-Regular.ttf');
}
@font-face{
    font-family: 'molengo';
    src: url('../fonts/Molengo-Regular.ttf');
}
@font-face{
    font-family: 'mukta';
    src: url('../fonts/Mukta-Regular.ttf');
}
@font-face{
    font-family: 'nunito';
    src: url('../fonts/Nunito-Regular.ttf');
}
@font-face{
    font-family: 'oswald';
    src: url('../fonts/Oswald-Regular.ttf');
}
@font-face{
    font-family: 'pacifico';
    src: url('../fonts/Pacifico-Regular.ttf');
}
@font-face{
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'rubik';
    src: url('../fonts/Rubik-Regular.ttf')
}